ul {
  display: block;
  float: left;
  margin-right: 20px;
  font-size: large;
}

li {
  width: 300px;
  height: 100px;
}


img {
  float: right;
  justify-content: center;
  width: 200px;
  height: 200px;
  margin-bottom: 3px;
  margin-right: 3px;
}